html {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

img {
    height: 100%;
    object-fit: contain;
    -webkit-app-region: drag;
}

#menu-area {
    position: absolute;
    z-index: 1;
    top: 0;
    padding: 20px;

}

#image-area {
    position: relative;
    margin: 0;
    overflow: hidden;
    height: 100%;
}